html{
    margin:0;
    min-height:100%;
}
body{
    margin:0;
}
ul{
    list-style-type: none;
    display:flex;
    gap:2.1875em;
}
a{
    text-decoration:none;
    color:#E5E7EB;
    font-size:1.125em;
}
.header{
    display:flex;
    width:auto;
    min-height:100px;
    background-color: #1f2937;
    justify-content: space-between;
    padding-top:15px;
    padding-left:15%;
    padding-right:15%;
}
.logo{
    color:#F9FAF8;
    font-size:1.5em;

} 
.navlinks{
    padding-top:15px;
}
.contentsign{
    display:flex;
    background-color: #1f2937;    
    justify-content:center;
    align-items: flex-start;  
    flex-wrap:wrap;  
    padding-bottom:2%;
}
.img1{
    width:35vw;
    min-width:350px;
    padding-top:10px;
}
.signup h1{
    font-size:3em;
    font-weight:bold;
    color:#F9FAF8;
}
.signup h2{
    color:#E5E7EB;
    font-size:1.125em;
    padding-bottom:25px;
}
.signup{
    width:700px;
    height:auto;
}
.button{
    background-color:#3882F6;
    border-radius:7px;
    width:150px;
    height:50px;
    padding: 5px 20px;
    color:#F9FAF8;
    font-size:24px;
}
.button:hover{
    background-color: orange;
}
.navlinks a:hover{
    color:orange;
}
.title{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top:35px;
    font-size: 2.25em;
    font-weight: bold;
    color: #1f2937;
    padding-bottom:25px;
}
.imgcontentpc img{
    width:200px;
    height:200px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}
.contentpc{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:45px;
}
.textpc{
    color:#1f2937;
    font-size:1.5em;
    text-align: center;
    width:200px;
    min-height:100px;
    font-family: 'Times New Roman', Times, serif,sans-serif;
}
.infoconteiner{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top:100px;
}
.textinfo{
    font-size: 1.5em;
    font-style:italic;
    max-width:850px;
    color: #1f2937;
}
.textinfoo{
    max-width:850px;
    padding-bottom:100px;
    color:black;
    font-size: 1.375em; 
    font-weight: bold;
    padding-left:35%;
}
.signupconteiner{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    padding-bottom:100px;
}
.buttonconteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1000px;
    height:150px;
    background-color:#3882F6;
    border-radius: 7px;   
}
.textsignup h1{
    color:#F9FAF8;
    font-size:1.5em;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif,sans-serif;
    font-weight: 900;
}
.textsignup h2{
    color:#E5E7EB;
    font-size:1.25em;
    padding-left: 100px;
    margin-top:-7px;
    font-family: 'Times New Roman', Times, serif,sans-serif;
    font-weight: 500;
}
.signupbutton{
    display:flex;
    width:140px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border:2px solid #F9FAF8;
    border-radius:7px;
}
.signupbutton a{
    color:#F9FAF8;
    font-size: 22px;
}
.signupbutton:hover{
    background-color: orange;
    border:1px solid rgb(48, 54, 136);
}
.signupbutton a:hover{
    color:#3882F6;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:100px;
    background-color: #1f2937;
}
.footerhover{
    padding-left: 6px;
    padding-top: 4px;
}
.footerhover:hover{
    color:orange;
}